<div class="jumbotron center">
	<h1></h1>
	</br>
	<p><%= link_to "Cadastrar novo usuário", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
	</br>
	<%= link_to "Entrar", new_user_session_path, class: "btn btn-default btn-lg" %>
	</p>

</div>