<div class="jumbotron center">
<h1>Be awesome with MyFirstApp!</h1><br>
</br>

<p><%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %> and become a hero like Batman. True story.</p>

<p><b>Already a hero?</b> <br>
</br>
	<%= link_to "Log in!", "#", class: "btn btn-default btn-lg" %></p>
</div>